html {
    overflow: hidden;
}

body {
    margin : 0 0 0 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}