#buttomContainer{
    height: 99px;
    margin-bottom: 52px;
    width : calc(100% - 32px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
#buttomCollection {
    height          : 42px;
    margin-top: 22px;
    margin-bottom   : 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: min(100%, 840px);
    font-size: 12px;
    line-height: 14px;
    color: rgba(var(--f52,142,142,142),1);
}

.buttomElement{
    height: 21px;
    margin: 0 8px;
}

#buttomAddIfo{
    margin-top: 10px;
    height: 23px;
    display: flex;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}


#arrow{
    margin-top: 1px;
    margin-right: 16px;
    color: rgb(142, 142, 142);
    fill: rgb(142, 142, 142);
    height: 12;
    width: 12;
    transform: rotate(180deg);
}