#upperContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100% - 99px);
}

#main {
    display: flex;
    flex-flow: row;
    width: 754px;
}

#images {
    margin-left: -35px;
    margin-right: -15px;
    background-image: url("https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png");
    width           : 303px;
    height          : 519px;
    padding         : 99 0 0 151;
}

#screenImg {
    position: absolute;
}

#loginArea{
    margin-top: 9px;
    width: 350;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.window{
    border: 1px solid rgba(219,219,219,1);
    background-color: rgba(var(--d87,255,255,255),1);
}

#loginWindow{
    height: 378;
    margin-bottom: 10px;
}

#registerWindow{
    height: 61px;
    margin-bottom: 10px;
}

#downloadText{
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 18px;
}

#DownloadImagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.downloadImg{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttomContainer{
    height: 153px;
    width: calc(100% - 32px);
}

#buttom{
    height: 99px;
    background-color: red;
    margin-bottom: 52px;
}
