#upperContainer {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    height         : calc(100% - 99px);
}

#main {
    display  : flex;
    flex-flow: row;
    width    : 754px;
}

#images {
    margin-left     : -35px;
    margin-right    : -15px;
    background-image: url("https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png");
    width           : 303px;
    height          : 519px;
    padding         : 99 0 0 151;
}

#screenImg {
    position: absolute;
}

#loginArea {
    margin-top     : 9px;
    width          : 350;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.window {
    border          : 1px solid rgba(219, 219, 219, 1);
    background-color: rgba(var(--d87, 255, 255, 255), 1);
}

#loginWindow {
    height       : 378;
    margin-bottom: 10px;
    display      : flex;
    align-items  : center;
    flex-flow    : column;
}

#registerWindow {
    height       : 61px;
    margin-bottom: 10px;
}

#instImg {
    background-image   : url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
    background-repeat  : no-repeat;
    background-position: 0 -130px;
    height             : 51px;
    width              : 175px;
    margin             : 32px 86.5px 36px 86.5px;
}

.fieldContainer {
    height       : 36px;
    width        : 266px;
    border       : 1px solid rgba(var(--ca6, 219, 219, 219), 1);
    border-radius: 3px;
    margin-bottom: 6px;
}

.input{
    height       : 20px;
    width        : 250px;
    margin: 9px 0 7px 8px;
    border: 0;
    outline: 0;
    background: rgba(var(--b3f,250,250,250),1);
    font-size: 16px;
    line-height: 18px;
    
}

#loginButton{
    margin-top: 8px;
    height: 30px;
    width: 268px;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 4px;
    border: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(var(--eca,255,255,255),1);
    font-weight: 600;
    line-height: 18px;
}

#orContainer{
    margin-top: 17px;
    display: flex;
    align-items: center;
}

.orLine{
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;
    width: 101px;
}

#orWord{
    vertical-align: baseline;
    margin: 0 18px;
    font-size: 13px;
    font-weight: 600;
    color: rgba(var(--f52,142,142,142),1);
}

#facebookContainer{
    margin-top: 28px;
    height: 20px;
    width: 268px;
    display: flex;
    justify-content: center;
}

#facebookLogo{
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: -414px -259px;
}

#facebookText{
    margin-left: 8px;
    color: #385185;
    vertical-align: baseline;
    font: inherit;
    font-weight: 600;
    text-align: center;
    text-transform: inherit;
    line-height: 15px;
}

#forgotPass{
    margin-top: 16px;
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
}

#registerWindow
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#noAcc{

}

#register{
    text-decoration: none;
    color: rgba(var(--d69,0,149,246),1);
    font-weight: 600;
    margin-left: 4px;
}

#downloadText {
    height         : 18px;
    padding-top    : 10px;
    padding-bottom : 10px;
    display        : flex;
    justify-content: center;
    text-align     : center;
    line-height    : 18px;
}

#DownloadImagesContainer {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

.downloadImg {
    height       : 40px;
    margin-top   : 10px;
    margin-bottom: 10px;
}

#buttomContainer {
    height: 153px;
    width : calc(100% - 32px);
}
