html {

}

body {
    background-color: rgba(var(--b3f,250,250,250),1);
    overflow-y:scroll;
    height: 100%;
    min-height: 796px;
    margin : 0 0 0 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items:center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
